<!-- <div class="container">
  <div class="row">  -->  
  <div>
    <a href="/">
      <h2>Candidates</h2>
    </a>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Name </td>
            <td>Email </td>
            <td>Street </td>
            <td>State </td>
            <td><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="candidate in candidates">
            <td>{{candidate.name}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.street}}</td>
            <td>{{candidate.state}}</td>
            <td><a href="#/edit/{{$index}}"><i class="glyphicon glyphicon-edit"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
<!--       <li class="col-sm-4 no-list-style center thumbnail">
        
          <h2 class="center">{{candidate.name}}</h2>
            <p>{{candidate.email}}</p>
            <p>{{candidate.street}}</p>
            <p>{{candidate.state}}</p>
            
            <p ng-if="candidate.employed">
              Current: <span>{{candidate.current | currency}}</span>
            </p>
            <p>
              Desired: <span>{{candidate.desired | currency}}</span>
            </p>
            <label>  
            Employed
              <input type="radio" ng-model="candidate.employed" name="{{$parent.$index}}" ng-value="true">
            </label>
            <p>
              <a  class="btn btn-default" ng-click="editCandidate($index)">Edit</a>
            </p>   
         
      </li> -->
   <!--  </ul> -->
    
<!--     <div class="center">
      <div ng-if="candidateIndex === 0">
        <input type="text" placeholer="{{candidate.name}}">
      </div>
      <div ng-if="candidateIndex === 1">
        one
      </div>
      <div ng-if="candidateIndex === 2">
        two
      </div>
    </div> -->

<!--   </div>
</div> -->
<!--             <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                State
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="">VIC</a></li>
                <li><a href="">QLD</a></li>
                <li><a href="">NSW</a></li>
                <li><a href="">TAS</a></li>
                <li><a href="">WA</a></li>
                <li><a href="">ACT</a></li>
              </ul>
            </div> -->
          
 


<!-- <h4>{{errorMsg}}</h4>
<h4>{{successMsg}}</h4> -->