<!-- <div class="container">
  <div class="row">  -->  
  <div>
    <a href="/">
      <h2>Candidates</h2>
    </a>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Name </td>
            <td>Email </td>
            <td>Street </td>
            <td>State </td>
            <!-- <td><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></td> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="candidate in candidates">
            <td>{{candidate.name}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.street}}</td>
            <td>{{candidate.state}}</td>
            <td><a href="#/edit/{{$index}}"><i class="glyphicon glyphicon-edit"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
